{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% for category, message in messages %}
        <p class="{{category}}">{{message}}</p>
    {% endfor %}
{% endwith %}    

<form action="/newpost" method="POST">
    <table>
        <tr>
            <label for="title">Title
                <input type="text" name="title" value="{{title}}"/>
            </label>
        </tr>
        <br>
        <tr>
            <label for="content">Content
                <textarea name="content">{{content}}</textarea>
            </label>
        </tr>
        <br>
        <tr>
            <input type="submit" />
        </tr>
    </table>
</form>
{% endblock %}